@model Models.ViewModels.ProfileViewModel

<div ng-init="requireNavigator = true; role = true;">
    @Html.TextBoxFor(x => x.Id, new {@class = "hidden"})

    <div class="form-group">
        @Html.LabelFor(x => x.Username)
        @Html.TextBoxFor(x => x.Username, new {@class = "form-control", type = "text", placeholder = "Enter username", required = "required", value = $"{Model.Fullname}", disabled = "true"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Fullname)
        @Html.TextBoxFor(x => x.Fullname, new {@class = "form-control", type = "text", placeholder = "Enter fullname", required = "required", value = $"{Model.Fullname}"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Email)
        @Html.TextBoxFor(x => x.Email, new {@class = "form-control", type = "email", placeholder = "Enter email", required = "required", value = $"{Model.Email}"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.PhoneNumber)
        @Html.TextBoxFor(x => x.PhoneNumber, new {@class = "form-control", type = "phone", placeholder = "Enter phone", required = "required", value = $"{Model.PhoneNumber}"})
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.Role)
        @Html.TextBoxFor(x => x.Role, new {@class = "form-control", type = "text", placeholder = "Enter role", required = "required", value = $"{Model.Role.ToString()}", disabled = "true"})
    </div>
</div>